<style type="text/css">
.col-lg-6 {
    margin-bottom: 15px;
}
</style>
<div class="modal fade" id="associate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="formAssociate" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Seja um Associado</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" class="form-control">
                    <div class="form-group">
                        <div class="col-lg-6" style="padding-left: 0px;">
                            <label for="name">Nome</label>
                            <input type="text" name="name" class="form-control" readonly>
                        </div>
                        <div class="col-lg-6" style="padding-right: 0px;">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6" style="padding-left: 0px;">
                            <label for="phone">Telefone</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask name="phone" readonly />
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding-right: 0px;">
                            <label for="date">Data</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" name="date" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="business">Empresa</label>
                        <input type="text" name="business" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensagem</label>
                        <textarea class="textarea form-control" name="message" id="message" placeholder="Insira o texto ..." style="width: 100%; height: 200px"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="status" class="minimal" checked/> Marcar como lido
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger pull-left"><i class="fa fa-times"></i> Descartar</button>
                    <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-check"></i>  Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
