{% extends "admin/layout.twig" %}
{% block content %}
<section class="content-header">
    <h1>
        {{ navigate }}
        <small>Painel de controle</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/admin"><i class="fa fa-cogs"></i> Admin</a>
        </li>
        <li>
            <i class="fa fa-calendar"></i> Cursos / Eventos</a>
        </li>
        <li class="active">{{ navigate }}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-10" style="text-align: left; margin-bottom: 10px;">
            <button type="button" class="btn btn-success new" data-toggle="modal" data-target="#event-discount-coupon-modal">
                <i class="fa fa-plus"></i> Novo
            </button>
            <button type="button" class="btn btn-primary edit" data-toggle="modal">
                <i class="fa fa-pencil"></i> Alterar
            </button>
            <button type="button" class="btn btn-danger remove" data-toggle="modal">
                <i class="fa fa-times"></i> Remover
            </button>
        </div>
        <div class="col-lg-2" style="text-align: right; margin-bottom: 10px;">
            <div class="info-datatable"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <table id="registers" class="table table-hover table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr role="row">
                            <th tabindex="0" aria-label="Cupom: activate to sort column ascending" style="width: 100px;">
                                Cupom
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="registers" aria-label="Dt. Cadastro: activate to sort column ascending" aria-sort="ascending">
                                Dt. Cadastro
                            </th>
                            <th tabindex="0" aria-label="Evento/Cusrso: activate to sort column">
                                Evento/Curso
                            </th>
                            <th tabindex="0" aria-label="Empresa: activate to sort column">
                                Empresa
                            </th>
                            <th tabindex="0" aria-label="Contato: activate to sort column">
                                Contato
                            </th>
                            <th tabindex="0" aria-label="Q. Mínima: activate to sort column">
                                Q. Mín.
                            </th>
                            <th tabindex="0" aria-label="Q. Máxima: activate to sort column">
                                Q. Máx.
                            </th>
                            <th tabindex="0" aria-label="Q. Utilizada: activate to sort column">
                                Q. Util.
                            </th>
                            <th tabindex="0" aria-label="Validade: activate to sort column">
                                Dt. Validade
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Cupom</th>
                            <th>Dt. Cadastro</th>
                            <th>Evento/Cusrso</th>
                            <th>Empresa</th>
                            <th>Contato</th>
                            <th>Q. Mín.</th>
                            <th>Q. Máx.</th>
                            <th>Q. Util.</th>
                            <th>Dt. Validade</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% include modal ignore missing %}
{% endblock %}

{% block header_page %}
<script type="text/javascript" src="/assets/js/admin/event-discount-cupon.js"></script>
{% endblock %}