<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Portal ABRASCE - Publicações/Pedido</title>
    <style>
        * {
            margin: 0 auto;
            padding: 0;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.6;
        }

        img {
            max-width: 100%;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.428571429;
            color: #333;
            background-color: #fff;
        }

        .panel-default {
            border: 1px solid #ddd;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .panel-body {
            padding: 15px;
        }

        .container {
            width: 600px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>