<!DOCTYPE html>
<html lang="pt-br">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>ABRASCE - Administrador</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/toastr.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link href="/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/select2/select2.bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

{% block content %}

{% endblock %}

<div class="modal-loading"></div>

<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <section class="copyright">
            <p>&copy; {{ "now"|date("Y") }} CRMALL - Todos os direitos reservados.</p>
        </section>
    </div>
</footer>
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/toastr.min.js"></script>
<script src="/assets/js/login.js" type="text/javascript"></script>
<script src="/assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/select2/select2_locale_pt-BR.js" type="text/javascript"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.validate.additional.methods.min.js"></script>
<script src="/assets/js/jquery.validate.theme.js"></script>
<script src="/assets/js/jquery.validate.messages_pt_BR.js"></script>
<script src="/assets/js/jquery.mask.min.js"></script>

</body>
</body>
</html>