{% extends "user/layout.twig" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ data.user is defined?"Olá "~data.user~", digite seu usuário e a nova senha":"Digite seu nome de usuário" }}</h3>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <img class="profile-img" src="/assets/img/perfil-abrasce.png" alt="">

                    <div id="master">
                        {% if data.error is defined %}
                        <div class="alert alert-danger alert-dismissible fade in">
                        {{ data.error }}
                        </div>
                        {% endif %}
                        <form action="{{data.user is defined?'/admin/send-redefine/'~data.hash:'/admin/send-redefine'}}" id="redefine-password" method="POST">
                            <div class="form-group">
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username" required="required">
                                </div>
                                {% if data.user is defined %}
                                    <div style="margin-bottom: 25px" class="input-group " id="div-pass">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input required="required" id="new-password" type="password" class="form-control" name="new-password" placeholder="Nova senha">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group" id="div-confirm-pass">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input required="required" id="new-password-confirm" type="password" class="form-control" name="new-password-confirm" placeholder="Redigite sua senha">
                                    </div>
                                {% endif %}
                                <button type="submit" id="redefine" name="submit" class="btn btn-primary form-control" {{data.user is defined?'disabled="disabled"':''}}>Redefinir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        var username = $("#login-username");
        var password = $("#new-password");
        var confirm_password = $("#new-password-confirm");
        var div_pass = $("#div-pass");
        var div_confirm_pass = $("#div-confirm-pass")

        password.change(function () {
            if(password.val().length <6){
                div_pass.addClass('has-error');
                toastr.error('A senha precisa ter 6 ou mais caracteres');
                $("#redefine").prop( "disabled", true );
            }else{
                div_pass.removeClass('has-error');
            }
        });

        confirm_password.change(function () {
            if(password.val() != confirm_password.val()){
                div_confirm_pass.addClass('has-error');
                toastr.error('Senhas não conferem');
                $("#redefine").prop( "disabled", true );
            }else{
                div_confirm_pass.removeClass('has-error');
                $("#redefine").prop( "disabled", false );
            }
        });

        $('#redefine-password').submit(function(e) {
            e.preventDefault(); // stop default action

            if(password.val().length <6 && password.val() != confirm_password.val()){
                div_confirm_pass.addClass('has-error');
                toastr.error('Senhas não conferem');
                $("#redefine").prop( "disabled", true );
            }else {
                var formData = new FormData($('#redefine-password')[0]);
                var formURL = $(this).attr("action");

                $.ajax({
                    type: "POST",
                    url: formURL,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",

                    success: function (data, textStatus, jqXHR) {
                        if (data.success) {
                            $("#master").html("<p class=\"bg-success text-center\"><strong>" + data.msg + "</strong></p>" +
                            "<a class=\"btn btn-primary btn-block\" href=\"/admin/login\">Clique aqui para voltar a tela de login<\a>");

                        } else {
                            toastr.error(data.msg);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // if fails
                    }
                });
            }
        });
    </script>
{% endblock %}
