{% extends "site/layout.twig" %}

{% block content %}
    <div class="container">
        <div style="margin-top: 100px;">
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">404
                    <small>{{ error ? error : 'Página Não Encontrada' }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">404</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1><span class="error-404">404</span>
                    </h1>
                    <p>A página que você está procurando não pode ser encontrada.<br>Aqui estão alguns links úteis:</p>
                    <ul>
                        <li>
                            <a style="color: #005ca9;" href="/">Home</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/sobre">Sobre a ABRASCE</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/associados">Associados</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/publicacoes">Publicações</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/eventos">Cursos e Eventos</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/guia-de-shoppings">Shopping Center</a>
                        </li>
                        <li>
                            <a style="color: #005ca9;" href="/site/guia-de-fornecedores">Fornecedores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
