{% extends "site/layout.twig" %}
{% block content %}

<!-- Header Carousel -->
<header id="carousel_topo" class="carousel interno slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/img/topo_sobre-a-abrasce.png');"></div>
            <div class="container title-page">
                <div class="carousel-caption carousel-internal">
                    <h1>Númeors do Setor</h1>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div class="container">

    <div class="row row-navigator">
        <div class="col-md-12">
            <h5>Númeors do Setor/Definições e Convenções</h5>
        </div>
    </div>
    <div class="row row-container">
        <div class="col-md-8">
            <h3>Definições e Convenções</h3>
            <hr>
            <p class="description-page">
                A Abrasce considera shopping center os empreendimentos com Área Bruta Locável (ABL), normalmente, superior a 5 mil m², formados por diversas unidades comerciais, com administração única e centralizada, que pratica aluguel fixo e percentual. Na maioria das vezes, dispõe de lojas âncoras e vagas de estacionamento compatível com a legislação da região onde está instalado.
            </p>
            <div class="box-container table-responsive">
                <table class="table-list">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="3" height="30" scope="col">
                            <strong>Classificação Abrasce por Tipo de Empreendimento</strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="text-center" width="181"><strong>Tipo</strong></th>
                        <th class="text-center" width="183"><strong>Porte</strong></th>
                        <th class="text-center" width="241"><strong>ABL</strong></th>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            <strong>Tradicional</strong>
                        </td>
                        <td align="center">Mega</td>
                        <td align="right">Acima de 60.000 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">Regional</td>
                        <td align="right">De 30.000 a 59.999 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">Médios</td>
                        <td align="right">De 20.000 a 29.999 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">Pequenos</td>
                        <td align="right">Até 19.999 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            <strong>Especializado</strong><br>
                            <em>Podem ser do tipo Outlet, Life Stile ou Temáticos </em>
                        </td>
                        <td align="center">Grandes</td>
                        <td align="right">Acima de 20.000 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">Médios</td>
                        <td align="right">De 10.000 a 19.999 m²&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" height="28">Pequenos</td>
                        <td align="right">Até 9.999 m²&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p class="description-page">
                No Plano de Mix, publicado pela Abrasce, há as definições dos ramos de varejo em Shopping Center, de acordo com os critérios adotados pela Associação. Ela constitui uma atualização de classificações anteriores, que a ABRASCE vem editando desde 1986.
            </p>
            <p class="description-page">
                A classificação atualizada foi aprovada pelo Conselho Deliberativo da associação em Dezembro de 2000, e sua aplicação é recomendada aos shopping centers em geral, como instrumento de aferição estatística e apoio gerencial.
            </p>
            <p class="description-page">
                <a href="/uploads/temp/PlanodeMix_FinalDez2009_NOVO.pdf" target="_blank">Clique aqui </a>
                para fazer download do Plano de Mix Abrasce.
            </p>
        </div>
        <div class="col-md-4 col-right-margin-top-lg">
            {% include "site/menu-monitoramento.twig" %}
        </div>
    </div>

</div>
<!-- /.container -->
<script>
    $(document).ready(function() {
        $(".navbar-btn button").removeClass('active');
    });
</script>

{% endblock %}
