{% extends "site/layout.twig" %}
{% block content %}

<header id="carousel_topo" class="carousel interno slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/img/topo_cursos-e-eventos.png');"></div>
            <div class="container title-page">
                <div class="carousel-caption carousel-internal">
                    <h1>Números do Setor</h1>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div class="container">
    <div class="row row-navigator">
        <div class="col-md-12">
            <h5>Números nas Capitais</h5>
        </div>
    </div>
    <div class="row row-container">
        <div class="col-md-8 container-page">
            <h3>NÚMEROS NAS CAPITAIS</h3>
            <hr>
            <div class="box-container table-responsive">
                <table class="table-list">
                    <thead>
                    <td style="width: 190px;">CIDADES</td>
                    <td>N° DE SHOPPINGS</td>
                    <td style="width: 45px;"></td>
                    <td>N° DE SHOPPINGS ESTIMADO PARA O FINAL DE 2015</td>
                    <td>ABL TOTAL EM OPERAÇÃO</td>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SÃO PAULO</td>
                        <td>53</td>
                        <td>2</td>
                        <td>55</td>
                        <td>2.004.657</td>
                    </tr>
                    <tr>
                        <td>RIO DE JANEIRO</td>
                        <td>37</td>
                        <td>0</td>
                        <td>37</td>
                        <td>1.186.843</td>
                    </tr>
                    <tr>
                        <td>BELO HORIZONTE</td>
                        <td>22</td>
                        <td>0</td>
                        <td>22</td>
                        <td>477.455</td>
                    </tr>
                    <tr>
                        <td>PORTO ALEGRE</td>
                        <td>16</td>
                        <td>0</td>
                        <td>16</td>
                        <td>373.463</td>
                    </tr>
                    <tr>
                        <td>CURITIBA</td>
                        <td>14</td>
                        <td>0</td>
                        <td>14</td>
                        <td>302.967</td>
                    </tr>
                    <tr>
                        <td>FLORIANÓPOLIS</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3</td>
                        <td>78.153</td>
                    </tr>
                    <tr>
                        <td>BRASÍLIA</td>
                        <td>17</td>
                        <td>1</td>
                        <td>18</td>
                        <td>400.495</td>
                    </tr>
                    <tr>
                        <td>SALVADOR</td>
                        <td>13</td>
                        <td>1</td>
                        <td>14</td>
                        <td>424.194</td>
                    </tr>
                    <tr>
                        <td>FORTALEZA</td>
                        <td>12</td>
                        <td>1</td>
                        <td>13</td>
                        <td>373.001</td>
                    </tr>
                    <tr>
                        <td>GOIÂNIA</td>
                        <td>11</td>
                        <td>1</td>
                        <td>12</td>
                        <td>274.573</td>
                    </tr>
                    <tr>
                        <td>RECIFE</td>
                        <td>7</td>
                        <td>0</td>
                        <td>7</td>
                        <td>290.223</td>
                    </tr>
                    <tr>
                        <td>MANAUS</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>258.151</td>
                    </tr>
                    <tr>
                        <td>NATAL</td>
                        <td>6</td>
                        <td>0</td>
                        <td>6</td>
                        <td>139.331</td>
                    </tr>
                    <tr>
                        <td>CUIABÁ</td>
                        <td>4</td>
                        <td>0</td>
                        <td>4</td>
                        <td>101.254</td>
                    </tr>
                    <tr>
                        <td>JOÃO PESSOA</td>
                        <td>4</td>
                        <td>0</td>
                        <td>4</td>
                        <td>135.450</td>
                    </tr>
                    <tr>
                        <td>CAMPO GRANDE</td>
                        <td>4</td>
                        <td>0</td>
                        <td>4</td>
                        <td>128.153</td>
                    </tr>
                    <tr>
                        <td>BELÉM</td>
                        <td>4</td>
                        <td>1</td>
                        <td>5</td>
                        <td>153.869</td>
                    </tr>
                    <tr>
                        <td>VITÓRIA</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>47.304</td>
                    </tr>
                    <tr>
                        <td>MACEIÓ</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3</td>
                        <td>119.203</td>
                    </tr>
                    <tr>
                        <td>TERESINA</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>29.801</td>
                    </tr>
                    <tr>
                        <td>ARACAJU</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>90.645</td>
                    </tr>
                    <tr>
                        <td>PALMAS</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>39.842</td>
                    </tr>
                    <tr>
                        <td>SÃO LUÍS</td>
                        <td>4</td>
                        <td>1</td>
                        <td>5</td>
                        <td>146.582</td>
                    </tr>
                    <tr>
                        <td>PORTO VELHO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>44.000</td>
                    </tr>
                    <tr>
                        <td>RIO BRANCO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>28.346</td>
                    </tr>
                    <tr>
                        <td>MACAPÁ</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>38.941</td>
                    </tr>
                    <tr>
                        <td>BOA VISTA</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>34.800</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-container table-responsive">
                <table class="table-list">
                    <tbody>
                    <tr>
                        <td style="width: 200px;">Total</td>
                        <td style="width: 129px">257</td>
                        <td style="width: 45px">9</td>
                        <td style="width: 259px">266</td>
                        <td style="width: 136px">7.721.695</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 col-right-margin-top-lg">
            {% include "site/menu-monitoramento.twig" %}
        </div>
    </div>

</div>

{% endblock %}