{% extends "site/layout.twig" %}
{% block content %}

<header id="carousel_topo" class="carousel interno slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/img/topo_cursos-e-eventos.png');"></div>
            <div class="container title-page">
                <div class="carousel-caption carousel-internal">
                    <h1>Números do Setor</h1>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div class="container">

    <div class="row row-navigator">
        <div class="col-md-12">
            <h5>Números dos Estados</h5>
        </div>
    </div>
    <div class="row row-container">
        <div class="col-md-8 container-page">
            <h3>NÚMEROS DOS ESTADOS</h3>
            <hr>
            <div class="box-container table-responsive">
                <table class="table-list">
                    <thead>
                    <td>ESTADOS</td>
                    <td>N° DE SHOPPINGS EM OPERAÇÃO</td>
                    <td style="width: 45px;"></td>
                    <td>N° DE SHOPPINGS ESTIMADO PARA O FINAL DE 2015</td>
                    <td>ABL TOTAL EM OPERAÇÃO</td>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SP</td>
                        <td>172</td>
                        <td>6</td>
                        <td>178</td>
                        <td>5.057.394</td>
                    </tr>
                    <tr>
                        <td>RJ</td>
                        <td>64</td>
                        <td>0</td>
                        <td>64</td>
                        <td>1.661.803</td>
                    </tr>
                    <tr>
                        <td>MG</td>
                        <td>44</td>
                        <td>3</td>
                        <td>47</td>
                        <td>1.010.937</td>
                    </tr>
                    <tr>
                        <td>RS</td>
                        <td>37</td>
                        <td>1</td>
                        <td>38</td>
                        <td>708.864</td>
                    </tr>
                    <tr>
                        <td>PR</td>
                        <td>31</td>
                        <td>0</td>
                        <td>31</td>
                        <td>695.825</td>
                    </tr>
                    <tr>
                        <td>SC</td>
                        <td>21</td>
                        <td>0</td>
                        <td>21</td>
                        <td>491.707</td>
                    </tr>
                    <tr>
                        <td>DF</td>
                        <td>17</td>
                        <td>1</td>
                        <td>18</td>
                        <td>400.495</td>
                    </tr>
                    <tr>
                        <td>BA</td>
                        <td>19</td>
                        <td>2</td>
                        <td>21</td>
                        <td>521.181</td>
                    </tr>
                    <tr>
                        <td>CE</td>
                        <td>16</td>
                        <td>1</td>
                        <td>17</td>
                        <td>455.002</td>
                    </tr>
                    <tr>
                        <td>GO</td>
                        <td>20</td>
                        <td>1</td>
                        <td>21</td>
                        <td>459.714</td>
                    </tr>
                    <tr>
                        <td>PE</td>
                        <td>14</td>
                        <td>1</td>
                        <td>15</td>
                        <td>495.999</td>
                    </tr>
                    <tr>
                        <td>AM</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>258.151</td>
                    </tr>
                    <tr>
                        <td>RN</td>
                        <td>7</td>
                        <td>0</td>
                        <td>7</td>
                        <td>160.695</td>
                    </tr>
                    <tr>
                        <td>MT</td>
                        <td>5</td>
                        <td>1</td>
                        <td>6</td>
                        <td>119.254</td>
                    </tr>
                    <tr>
                        <td>PB</td>
                        <td>5</td>
                        <td>0</td>
                        <td>5</td>
                        <td>157.210</td>
                    </tr>
                    <tr>
                        <td>MS</td>
                        <td>5</td>
                        <td>0</td>
                        <td>5</td>
                        <td>148.153</td>
                    </tr>
                    <tr>
                        <td>PA</td>
                        <td>7</td>
                        <td>2</td>
                        <td>9</td>
                        <td>203.673</td>
                    </tr>
                    <tr>
                        <td>ES</td>
                        <td>8</td>
                        <td>0</td>
                        <td>8</td>
                        <td>275.250</td>
                    </tr>
                    <tr>
                        <td>AL</td>
                        <td>4</td>
                        <td>0</td>
                        <td>4</td>
                        <td>150.021</td>
                    </tr>
                    <tr>
                        <td>PI</td>
                        <td>2</td>
                        <td>1</td>
                        <td>3</td>
                        <td>39.023</td>
                    </tr>
                    <tr>
                        <td>SE</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3</td>
                        <td>117.645</td>
                    </tr>
                    <tr>
                        <td>TO</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>39.842</td>
                    </tr>
                    <tr>
                        <td>MA</td>
                        <td>5</td>
                        <td>1</td>
                        <td>6</td>
                        <td>172.520</td>
                    </tr>
                    <tr>
                        <td>RO</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>44.000</td>
                    </tr>
                    <tr>
                        <td>AC</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>28.346</td>
                    </tr>
                    <tr>
                        <td>AP</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>38.941</td>
                    </tr>
                    <tr>
                        <td>RR</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2</td>
                        <td>34.800</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-container">
                <table class="table-list">
                    <tbody>
                    <tr>
                        <td style="width: 75px">Total</td>
                        <td style="width: 183px">524</td>
                        <td style="width: 45px;">21</td>
                        <td style="width: 279px">545</td>
                        <td style="width: 146px">13.946.444</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 col-right-margin-top-lg">
            {% include "site/menu-monitoramento.twig" %}
        </div>
    </div>

</div>

{% endblock %}