body {
    background-color: #CFF09E;
}

.navbar-inverse {
    background-color: #d7d7d7;
    border-color: transparent;
}

.carousel-control {
    z-index: 999;
}

.carousel-control .icon-prev:before,
.carousel-control .icon-next:before {
    content: initial;
}

.navbar-btn .btn {
    font-size: 13px;
    /*padding: 10px 12px;*/
    padding: 10px 11px 10px 11px;

}

.navbar-btn .btn-default,
.carousel-caption .btn-default {
    font-family: Humanist_521_BT;
    color: #0066b3;
    background-color: transparent;
    border: none;
}

.navbar-btn .btn-default:hover,
.navbar-btn .btn-default:focus,
.navbar-btn .btn-default.focus,
.navbar-btn .btn-default:active,
.navbar-btn .btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #d7d7d7;
    background-color: #949496;
}

.input-pesquisar {
    max-width: 190px;
    width: 100%;
    padding: 10px 0px 0px 10px;
    display: table;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 15px;
    pointer-events: none;
    z-index: 9;
    color: #ffcb08;
}

header.interno {
    height: 250px !important;
}

.title-page {
    top: -110px !important;
}

.title-page div.carousel-caption {
    left: 20%;
}

.title-page div.carousel-caption h1 {
    font-family: OpenSans_Light;
}

.carousel-caption {
    right: initial;
    left: initial;
    text-shadow: none;
    margin-bottom: -120px;
    width: 100%;
}

.carousel-internal {
    margin-bottom: -50px;
}

.carousel-caption h1 {
    width: 100%;
    font-family: OpenSans_SemiBold;
    font-size: 40px;
    text-align: left;
}

.carousel-caption h3 {
    width: 40%;
    font-family: OpenSans_Light;
    font-size: 20px;
    text-align: left;
    color: #fff;
}

.carousel-caption .btn-default:hover {
    background-color: #949496;
}

.carousel-caption .btn-default {
    border: 1px solid #fff;
    color: #fff;
    font-family: OpenSans_Light;
    font-size: 20px;
    padding: 10px 50px 10px 50px;
}

.item .container {
    position: relative;
    top: -180px;
}

.carousel-indicators li {
    border: none;
    border-radius: 0px;
    background-color: #8da7c0;
}

h3 {
    font-family: OpenSans_Light;
    color: #0066b3;
}

ul, ol {
    margin-bottom: 30px;
}

.carousel-indicators-abrasce {
    left: initial;
    width: initial;
    margin-left: initial;
}

.icon-prev,
.icon-next {
    border: 3px solid;
    border-radius: 30px;
}

.icon-prev li {
    padding-right: 5px;
}

.icon-next li {
    padding-left: 4px;
}

.carousel-control {
    margin: 60px;
    width: initial;
    text-shadow: none;
}

.carousel-control .icon-prev {
    margin-left: -50px;
}

.carousel-control .icon-next {
    margin-right: -50px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 60px;
    height: 60px;
    margin-top: -15px;
    font-size: 45px;
}

.carousel-control .icon-prev i,
.carousel-control .icon-next i {
    position: relative;
    top: -5px;
}

.col-md-3.btn.btn-default {
    border-radius: 0px;
    background-color: #d7d7d7;
    height: 90px;
    border: 0px;
    font-family: OpenSans_Regular;
    color: #0066b3;
    font-size: 17px;
    white-space: normal;
    display: table;
    border-bottom: 5px solid #d7d7d7;
}

.col-md-3.btn.btn-default:nth-child(odd) {
    background-color: #c2c2c2;
    border-bottom: 5px solid #c2c2c2;
}

.col-md-3.btn.btn-default:hover,
.col-md-3.btn.btn-default:nth-child(odd):hover {
    background-color: #999999;
    border-bottom: 5px solid #ffcb08;
    color: #fff;
    /*font-size: 20px;*/
}

.col-md-3.btn.btn-default span {
    display: table-cell;
    vertical-align: middle;
}

.box-evento {
    background-color: #e4e4e4;
    height: 220px;
    border: 0px;
    font-family: OpenSans_Regular;
    border-left: 1px solid #0066b3;
    color: #0066b3;
    white-space: normal;
}

.box-evento:first-child {
    border-left: 0px;
}

.box {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e4e4e4;
}

.box-rodape {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e4e4e4;
}

.row-box {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

.row-box-eventos {
    margin-right: 0px;
    margin-left: 0px;
}

.row-box .col-md-4,
.row-box .col-lg-4 {
    background-color: #ffcb08;
    color: #0066b3;
    font-family: OpenSans_Light;
    text-align: center;
}

.row-box .col-md-4 i {
    font-size: 40px;
    text-indent: 20px;
}

.row-box .col-md-4 h3 {
    margin-top: 10px;
}

.box-evento h3 {
    font-family: OpenSans_Regular !important;
}

.box-rodape {
    text-align: right;
}

.box-rodape h4 {
    font-family: OpenSans_Light;
    color: #77787b;
    margin-right: 20px;
}

.box-rodape h4 i {
    border: 1px solid;
    border-radius: 15px;
    width: 22px;
    height: 22px;
    text-align: center;
    /*text-indent: 2px;*/
}

.box-rodape h4 a {
    text-decoration: none;
    color: inherit;
}

.row-informacoes,
.row-container {
    margin-top: 50px;
}

.row-navigator {
    margin-top: 15px;
    font-family: OpenSans_Light;
    color: #77787b;
}

.row-informacoes hr,
.row-container hr {
    height: 8px;
    background: url('../img/hr.png');
    margin-bottom: 10px;
}

.row-informacoes .img-thumbnail {
    border: 1px solid #999999;
    border-radius: 0px;
}

.box-newsletter,
.box-redes-socias {
    background-color: #e4e4e4;
    padding: 30px;
}

.box-newsletter input,
.box-newsletter button {
    height: 40px;
}

.box-newsletter button {
    background-color: #ffcb08;
    color: #fff;
}

.box-newsletter button:hover,
.box-newsletter button:visited {
    background-color: #0066b3;
    color: #fff;
}

.box-revista {
    background-color: #e4e4e4;
    padding: 30px;
    height: auto;
}

.box-revista h4 {
    font-family: OpenSans_Light;
    color: #77787b;
}

.box-revista h3 {
    font-family: OpenSans_Regular;
    font-size: 22px;
    color: #0066b3;
}

.box-redes-socias i {
    color: #015c9d;
    background-color: #fff;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.box-redes-socias a {
    margin-left: 29px;
}

.box-redes-socias a:first-child {
    margin-left: 0px;
}

.hr-small-space {
    margin-top: 0px;
}

.box-info-shopping,
.box-publicacoes,
.box-info-fornecedor,
.box-fale-conosco,
.box-noticia {
    background-color: #e4e4e4;
    padding: 30px;
    height: 100%;
    display: table;
    width: 100%;
}

.box-info-fornecedor {
    padding-left: 20px;
}

.box-info-shopping,
.box-info-fornecedor {
    min-height: 200px;
}

.box-info-shopping,
.box-publicacoes {
    padding: 20px;
}

.box-info-shopping label {
    font-family: OpenSans_Regular;
    color: #0066b3;
    font-size: 16px;
}

.box-info-fornecedor span {
    font-family: OpenSans_Regular;
    color: #77787b;
    font-size: 20px;
}

.box-info-shopping span {
    font-size: 16px;
}

.box-info-shopping h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 18px;
}

.box-noticia h3 {
    font-family: OpenSans_Light;
    color: #77787b;
    font-size: 20px;
    line-height: 30px;
}

.box-noticia h3:first-child {
    margin-top: 0px;
}

.box-noticia .box-rodape {
    padding-right: 0px;
    padding-left: 0px;
}

.box-noticia .box-rodape h4 {
    margin-right: 0px;
}

.box-noticia h3 a {
    text-decoration: none;
    color: inherit;
}

.hr-line {
    height: 1px !important;
    background: #0066b3 !important;
    margin-bottom: 30px !important;
}

.panel-footer {
    padding: 0px;
    background-color: #015c9d;
    border-top: 1px solid #ddd;
    border-radius: 0px;
}

.panel-footer,
.panel-footer a,
.panel-footer a:visited {
    color: #fff;
}

.panel-footer a,
.panel-footer span {
    font-family: OpenSans_Regular;
    font-size: 12px;
}

.panel-footer .span-destaque {
    font-family: OpenSans_SemiBold;
}

.panel-footer .footer-title {
    font-family: OpenSans_SemiBold;
    font-size: 14px;
}

.panel-footer .container {
    margin-top: 100px !important;
}

.panel-footer .redes-socias {
    height: 50px;
    background-color: #01538d;
}

.panel-footer ul {
    padding-left: 15px;
    line-height: 22px;
}

footer {
    margin: 50px 0 0 0 !important;
}

.abrasce-nav-list {
    background: #e4e4e4;
}

.abrasce-list {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 6px solid transparent;
    height: 55px;
    display: table !important;
    width: 100%;
}

.abrasce-list:hover {
    border-left: 6px solid #ffcc00;
    background-color: #c2c2c2;
}

.abrasce-list.active {
    border-left: 6px solid #ffcc00;
    background-color: #c2c2c2;
}

.abrasce-list a {
    border-radius: 0px !important;
    padding-top: 15px !important;
    background: transparent !important;
    display: table-cell !important;
    vertical-align: middle;
    font-family: OpenSans_Regular;
    color: #77787b;
    font-size: 16px;
}

.abrasce-list a:hover {
    color: #fff;
}

.abrasce-nav-list li:first-child a {
    border-top: 0px;
}

.abrasce-nav-list li a {
    border-top: 1px solid #0066b3;

}

.description-page,
.container-beneficios p {
    font-family: OpenSans_Regular;
    color: #77787b;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: justify;
}

.description-page strong,
.container-beneficios p strong,
.container-seja-associado p strong {
    color: #0066b3;
}

.description-page b,
.container-noticia b,
.description-page p b,
.container-seja-associado p b {
    color: #646467;
}

label,
.abrasce-book-price,
.abrasce-book-date,
.content-col-left a {
    font-family: OpenSans_Regular;
    color: #646467;
}

.container-noticia,
.container-seja-associado p {
    font-family: OpenSans_Regular;
    color: #77787b;
    font-size: 16px;
    text-align: justify;
}

.box-fale-conosco form button,
.box-noticia form button,
.container-seja-associado form button {
    width: 100%;
}

.box-container, .box-container-shoppings, .box-container-suppliers, .box-container-publicacoes, .box-container-rigth-col {
    border: 1px solid #0066b3;
    padding: 10px;
    margin-top: 30px;
}

.box-container-suppliers img {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

.box-container-publicacoes {
    margin-bottom: 0px;
}

.box-container-rigth-col {
    margin-top: 0px;
    margin-bottom: 0px;
}

.box-container {
    margin-bottom: 40px;
}

/* ----- col 15 ----- */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-10 {
    width: 10%;
    float: left;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-xs-25 {
    width: 40%;
    float: left;
}

.col-xs-30 {
    width: 45%;
    float: left;
}

.col-xs-35 {
    width: 60%;
    float: left;
}

.col-xs-45 {
    width: 80%;
    float: left;
}

.col-xs-offset-1 {
    margin-left: 10%;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.ajax-loader {
    background: url("../img/ajax-loader2.gif") 97% center no-repeat;
}

.table-list {
    width: 100%;
    padding: 5px !important;
    font-family: OpenSans_Light;
}

.table-list thead {
    background-color: #e1e1e1;
    line-height: 30px;
    color: #0066b3;
    font-weight: bold;
}

.table-list tr {
    vertical-align: middle;
    height: 53px;
}

.table-list td {
    padding-left: 15px;
    border-right: 1px solid #1d77bb;
}

.table-list td:last-child {
    border-right: none;
}

.table-list tbody tr:nth-child(odd) {
    background-color: #b1b1b1;
    color: #fff;
}

.table-list tbody tr:nth-child(even) {
    background-color: #e1e1e1;
    color: #656667;
}

.table-list-date-column {
    padding-right: 15px;
    text-align: center;
    font-size: 18px;
}

.no-inaugurations {
    text-align: center;
}

.container-content {
    padding: 12px;
    background-color: #e6e6e6;
    overflow: hidden;
}

.abrasce-selo {
    float: left;
}

.abrasce-text {
    margin-left: 114px;
    text-align: justify;
    font-family: OpenSans_Light;
    color: #0066b3;
    font-size: 16px;
    font-weight: bold;
}

.input-uf-guia {
    margin: 20px 0;
}

.abrasce-mini-selo {
    width: 50px;
    float: left;
    margin-top: 10px;
}

.content-boxes {
    height: 166px;
}

.content-boxes-supplier {
    height: 188px;
}

.abrasce-fantasia {
    min-height: 44px;
}

.abrasce-fantasia span {
    font-size: 16px;
    color: #0066b3;
}

.content-col-left {
    float: left;
    width: 184px;
    margin-top: 25px;
}

.supplier-logo {
    border: none;
    width: 90px;
    height: 90px;
    /*position: absolute;*/
    /*bottom: 22px;*/
    /*right: 37px;*/
    float: right;
    margin-right: 10px;
}

.abrasce-book-header {
    height: 140px;
}

.abrasce-book-title {
    font-family: OpenSans_Regular;
    font-size: 20px;
    color: #0066b3;
}

.abrasce-book-date {
    font-size: 12px;
}

.abrasce-book-image {
    height: 180px;
    width: 135px;
}

.abrasce-book-price {
    line-height: 1;
    font-size: 28px;
}

.abrasce-book-qtde {
    line-height: 1;
    margin-top: 20px;
}

.abrasce-book-sinopse {
    margin-top: 20px;
}

.abrasce-book-sinopse button.btn {
    background-color: #ffcc00;
    border: 0px;
    border-radius: 0px;
    font-family: OpenSans_Light;
    color: #0066b3;
}

/* Bootstrap 3 popover
-------------------------------------------------- */

.popover {
    padding: 10px;
    background: #66a3d1;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: justify;
}

.popover .popover-title {
    font-size: 16px;
    background: #66a3d1;
    border-radius: 0;
    color: #fff;
}

.popover-title {
    margin: 0px 15px 0px 15px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dotted #fff;
}

.popover.right .arrow:after {
    border-right-color: #66a3d1;
}

/* Bootstrap 3 input-spinner
-------------------------------------------------- */

.spinner input {
    text-align: right;
}

.spinner button:focus {
    outline: 0;
}

.spinner label {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical {
    top: 10px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.input-group-btn-vertical button {
    background-color: #acacac;
    color: #0066b3;
}

.info-shopping-image {
    margin-bottom: 28px;
}

.info-shopping-banner {
    width: 100%;
    height: 206px;
}

.info-shopping-logo {
    opacity: 0;
    position: absolute;
    top: 85px;
    left: 43px;
    height: 150px;
}

.info-margem {
    margin-top: 20px;
}

.info-graph1 {
    color: #0066b3;
}

.info-graph2 {
    color: #ffcb08;
}

.info-graph3 {
    color: #646568;
}

.info-shopping-check {
    font-size: 10px !important;
    color: #ffcb08;
}

.info-shopping-button {
    margin-top: 27px;
    width: 100%;
    padding: 10px 30px 10px 30px;
    font-family: OpenSans_Regular;
    font-size: 11px;
    font-weight: 300;
    background-color: #005ca9;
    color: #fff;
    text-align: center;
}

.info-shopping-boxes .col-md-15:last-child .info-shopping-button {
    padding: 10px 10px 10px 10px;
}

.info-shopping-input {
    font-size: 23px;
}

.col-right-margin-top-sm {
    margin-top: 37px;
}

.col-right-margin-top-lg {
    margin-top: 66px;
}

.col-right-guia {
    margin-top: 17px;
}

.info-shopping-contato {
    font-size: 18px;
    color: #005ca9;
    line-height: 40px;
}

.info-shopping-text {
    font-size: 17px;
    color: #878686;
    line-height: 21px;
}

.info-shopping-link {
    font-size: 17px;
    color: #878686;
    line-height: 21px;
}

.info-shopping-area {
    font-size: 20px !important;
    color: #878686;
}

.info-shopping-area-text {
    font-size: 20px !important;
    color: #005ca9;
    line-height: 21px;
}

.info-shopping-block {
    margin-bottom: 30px;
}

/* Bootstrap 3 datepicker
-------------------------------------------------- */

.sandbox-container {
    background-color: #FFF;
}

.sandbox-container .datepicker-switch {
    font-size: 1.5em;
    font-family: OpenSans_Regular;
}

.sandbox-container table tbody tr td {
    font-size: 1.1em;
    font-family: OpenSans_Regular;
}

b,
strong {
    font-weight: bold;
    font-size: 17px;
}

.box_active_class div {
    background-position: 10px -55px !important;
}

.box_active_class {
    background-color: #ffcc00 !important;
    color: #005ca9 !important;
}

.datepicker-inline {
    width: 100%;
}

.table-condensed {
    width: 100%;
}

.list-row {
    margin-top: 40px;
}

.yellow-title-container {
    background-color: #ffcb08;
    color: #0066b3;
    font-family: OpenSans_Light;
    text-align: center;
}

.yellow-title-container span {
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.media-left {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 70%;
    padding-left: 20px;
}

.media-body {
    display: table-cell;
    vertical-align: top;
}

.th-setor {
    padding: 0 15px;
}

.social-container {
    height: 50px;
    margin: 0 auto;
    width: 236px;
}

.social-container a {
    overflow: hidden;
    display: inline-block;
    margin: 10px 13px;
}

.social-container a img {
    width: 30px;
}

.col-right-event {
    margin-top: 19px;
}

.event-link, .event-link:hover {
    color: inherit;
}

.col-right {
    float: right;
}

.zero-clipboard {
    position: relative;
    /*display: none;*/
}

.btn-clipboard {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px 0 4px 0;
}

.btn-clipboard-hover {
    color: #005ca9;
    background-color: #ffcc00;
    border-color: #ffcc00
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .input-pesquisar {
        display: none;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

    .carousel-caption h1 {
        font-size: 2em;
    }

    .row-box .col-md-4 i {
        font-size: 24px;
    }

    .box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .box-redes-socias a {
        margin-left: 7px;
    }

    .box-redes-socias a:first-child {
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .input-pesquisar {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        /*margin-top: 7.5px;*/
    }

    .navbar-nav > li {
        float: none;
    }

    .collapse.in {
        display: block !important;
    }

    .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
        height: 69px;
    }

    .input-pesquisar {
        max-width: initial;
        padding: initial;
    }

    .navbar-btn {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-toggle {
        background: #c2c2c2;
        padding: 10px 10px;
        margin-top: 15px;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 310px;
        height: 310px !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #FFFFFF;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #005ca9;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #005ca9;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #005ca9;
    }

    .col-md-3.btn.btn-default {
        width: 100%;
    }

    .box-evento {
        height: 140px;
        border-top: 1px solid #0066b3;
        border-left: 0px;
    }

    .box-evento:first-child {
        border-top: 0px;
        border-left: 0px;
    }

    .box-redes-socias div.input-group {
        display: block;
        text-align: center;
    }

    .box-redes-socias {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .zero-clipboard {
        display: block
    }

    .bs-example + .zero-clipboard .btn-clipboard {
        top: -16px;
        border-top-right-radius: 0
    }
}

@media screen and (max-width: 768px) {

    .carousel-caption h1 {
        font-size: 2em;
    }

    .fa.fa-calendar-o {
        font-size: 30px !important;
    }

    .carousel-control {
        display: none;
    }

    .panel-footer div.col-xs-15 {
        width: 33%
    }

    .panel-footer div.col-xs-15:last-child {
        width: auto;
    }

    .abrasce-book-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    .carousel-caption h1,
    .carousel-caption h3 {
        width: 95%;
    }

    .box-evento {
        height: auto;
        padding-bottom: 30px;
    }

    .row-informacoes h3 {
        font-size: 20px;
    }

    .box-redes-socias a {
        margin-left: 15px;
    }

    header.carousel {
        height: 400px !important;
    }

    header.carousel.interno {
        height: 150px !important;
    }

    .carousel-internal {
        margin-bottom: -110px;
    }

    .title-page div.carousel-caption {
        left: inherit;
    }

    .row-informacoes, .row-container {
        margin-top: 20px;
    }

    .box-info-fornecedor {
        padding-left: 0px !important;
    }

    .box-info-shopping, .box-publicacoes, .box-info-fornecedor, .box-fale-conosco, .box-noticia {
        padding: 10px;
    }

    .info-supplier-text span {
        font-size: 15px;
    }

    .box-info-fornecedor div:last-child {
        margin-top: 20px;
    }

    .box-container-rigth-col img,
    .box-container-suppliers img,
    .box-container img {
        width: 100% !important;
    }

    .description-page {
        word-wrap: break-word;
    }

    .container-noticia, .container-seja-associado p {
        text-align: inherit;
    }
}

@media screen and (max-width: 320px) {
    .panel-footer div.col-xs-15 {
        width: 50%
    }

    .panel-footer div.col-xs-15:last-child {
        width: 50%;
    }

    .row-box h3,
    .box-evento h3 {
        font-size: 20px;
    }

    .box-redes-socias a {
        margin-left: 5px;
    }
}

.abrasce-site {
    border-bottom: 1px solid #0066b3;
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: 26px;
}

.abrasce-site a {
    color: #646467;
}

.info-supplier-logo {
    float: right;
}

p.info-supplier-text {
    font-family: OpenSans_Regular;
    color: #77787b;
    font-size: 20px;
}

.box-info-fornecedor span {
    color: #005ca9;
}